GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=models/text-embedding-004
GOOGLE_LLM_MODEL=gemini-2.5-flash-lite

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=mba_desafio_rag

PDF_PATH=document.pdf
